<h1 class="upgrade-card__title">Sign in to continue</h1>
<p class="upgrade-card__body">
  You're browsing as a guest. To create projects, like, comment, or follow other builders, sign in with your Hack Club account.
</p>
<%= button_to "Sign in with Hack Club", hack_club_auth_path, class: "upgrade-card__cta", data: { turbo: false } %>
